asgiref
certifi
charset-normalizer
Django
djangorestframework
gunicorn
idna
mysqlclient
pytz
requests
sqlparse
typing_extensions
urllib3
whitenoise
django-daraja
django-cors-headers
matplotlib
pandas
plotly
django-jazzmin